#contactForm
    %div
        %h2 Let's get in touch!

        = form_with model: @message do |form|

            %p
                = form.label :name, class: 'contactLabel'
                %br
                = form.text_field :name, class: 'contactField'

            %p
                = form.label :email, class: 'contactLabel'
                %br
                = form.email_field :email, class: 'contactField'

            %p
                = form.label :title, class: 'contactLabel'
                %br
                = form.text_field :title, class: 'contactField'

            %p
                = form.label :content, class: 'contactLabel'
                %br
                = form.text_area :content, class: 'contactField content'

            %p
                = form.submit 'Send Message', class: 'send'
