.home

  .menuIcon{onclick: 'goToNavigation()'}
    .menuIconLine
    .menuIconLine.menuIconLine2
    .menuIconLine.menuIconLine3

  .homeBox
    - if admin_signed_in?
      = link_to 'Sign out', destroy_admin_session_path, method: :delete
      = link_to 'Messages', admin_index_path
    - else
      = link_to 'welcome.', new_admin_session_path, class: 'adminLink'

  .homeBox
    .scroll
      #scrollLineOne
        #scrollLineTwo
      %p scroll

.list
  #item1.listItem
    %p home
  #item2.listItem
    %p about me
  #item3.listItem
    %p{onclick: 'openWorksModal()'} works
  #item4.listItem
    = link_to 'contact', new_message_path, id: 'contactLink'
  #item5.listItem
    %hr/
    %p music

  / music modal
  
  #musicModal
    %p#musicModalX X
    %div
      %p music tip:
      %hr/
      %p#song song will come up here

  / works modal

  #worksModal
    .work
      = image_tag('valencia.png', class: 'workImg')
      .workInfo
        %p Valencia
        %p Features:
        %ul
          %li - You can log in as an Admin
          %li - You can add items to the menu
          %li - You can edit items on the menu
          %li - You can delete items on the menu
